---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=DONT_SHARE_MY_UNSPLASH_API_KEY&query=Denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=DONT_SHARE_MY_UNSPLASH_API_KEY&page=204&query=Denver%2CCO>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=DONT_SHARE_MY_UNSPLASH_API_KEY&page=2&query=Denver%2CCO>;
        rel="next"
      X-Total:
      - '2035'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":2035,"total_pages":204,"results":[{"id":"pBtdIO99UIc","created_at":"2019-10-08T21:44:07-04:00","updated_at":"2020-06-07T01:18:45-04:00","promoted_at":null,"width":1944,"height":2592,"color":"#5EC0FF","description":"Colin
        McIntosh sheetsgiggles.com","alt_description":"wide-angle photography of buildings
        during daytime","urls":{"raw":"https://images.unsplash.com/photo-1570585429632-e8b74372a3ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE2NzI1Mn0","full":"https://images.unsplash.com/photo-1570585429632-e8b74372a3ed?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE2NzI1Mn0","regular":"https://images.unsplash.com/photo-1570585429632-e8b74372a3ed?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE2NzI1Mn0","small":"https://images.unsplash.com/photo-1570585429632-e8b74372a3ed?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE2NzI1Mn0","thumb":"https://images.unsplash.com/photo-1570585429632-e8b74372a3ed?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE2NzI1Mn0"},"links":{"self":"https://api.unsplash.com/photos/pBtdIO99UIc","html":"https://unsplash.com/photos/pBtdIO99UIc","download":"https://unsplash.com/photos/pBtdIO99UIc/download","download_location":"https://api.unsplash.com/photos/pBtdIO99UIc/download"},"categories":[],"likes":26,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"uCjRDd85Gm8","updated_at":"2020-08-19T16:16:19-04:00","username":"melissamullinator","name":"Melissa
        Van Gogh","first_name":"Melissa","last_name":"Van Gogh","twitter_username":"thehealthymel","portfolio_url":"http://Thehealthymelissa.com","bio":"Tag
        me on insta @thehealthymelissa","location":"Florida","links":{"self":"https://api.unsplash.com/users/melissamullinator","html":"https://unsplash.com/@melissamullinator","photos":"https://api.unsplash.com/users/melissamullinator/photos","likes":"https://api.unsplash.com/users/melissamullinator/likes","portfolio":"https://api.unsplash.com/users/melissamullinator/portfolio","following":"https://api.unsplash.com/users/melissamullinator/following","followers":"https://api.unsplash.com/users/melissamullinator/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1595815702566-d7f00485e060image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1595815702566-d7f00485e060image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1595815702566-d7f00485e060image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"thehealthymelissa","total_collections":4,"total_likes":1297,"total_photos":112,"accepted_tos":true},"tags":[{"type":"search","title":"banister"},{"type":"search","title":"handrail"},{"type":"search","title":"building"}]},{"id":"pGMiIOWWEY8","created_at":"2020-02-10T18:55:20-05:00","updated_at":"2020-06-25T18:56:36-04:00","promoted_at":null,"width":5184,"height":3456,"color":"#18181B","description":"Worker
        apron in graffiti alley way on cell phone","alt_description":"man in black
        jacket standing beside graffiti wall during daytime","urls":{"raw":"https://images.unsplash.com/photo-1581378670696-6bb27d6e450b?ixli[...]
