---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_SHARE_MY_WEATHER_API_KEY&exclude=minutely&lat=38.892062&lon=-77.019912&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.89,"lon":-77.02,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1600736943,"sunrise":1600685718,"sunset":1600729602,"temp":54.52,"feels_like":51.28,"pressure":1030,"humidity":71,"dew_point":45.32,"uvi":6.36,"clouds":1,"visibility":10000,"wind_speed":3.8,"wind_deg":44,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1600736400,"temp":54.52,"feels_like":51.28,"pressure":1030,"humidity":71,"dew_point":45.32,"clouds":1,"visibility":10000,"wind_speed":3.8,"wind_deg":44,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1600740000,"temp":55.96,"feels_like":51.98,"pressure":1030,"humidity":58,"dew_point":41.41,"clouds":1,"visibility":10000,"wind_speed":3.6,"wind_deg":39,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1600743600,"temp":56.19,"feels_like":52.25,"pressure":1029,"humidity":51,"dew_point":38.34,"clouds":0,"visibility":10000,"wind_speed":2.51,"wind_deg":29,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"[...]
