---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_SHARE_MY_WEATHER_API_KEY&exclude=minutely&lat=38.892062&lon=-77.019912&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.89,"lon":-77.02,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1601517386,"sunrise":1601463805,"sunset":1601506333,"temp":61.56,"feels_like":55.9,"pressure":1012,"humidity":72,"dew_point":52.45,"uvi":5.58,"clouds":20,"visibility":10000,"wind_speed":11.41,"wind_deg":180,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}]},"hourly":[{"dt":1601514000,"temp":61.56,"feels_like":56.41,"pressure":1012,"humidity":72,"dew_point":52.45,"clouds":20,"visibility":10000,"wind_speed":10.51,"wind_deg":194,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1601517600,"temp":62.74,"feels_like":57.07,"pressure":1012,"humidity":62,"dew_point":49.55,"clouds":10,"visibility":10000,"wind_speed":10,"wind_deg":204,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1601521200,"temp":62.82,"feels_like":56.52,"pressure":1012,"humidity":58,"dew_point":47.84,"clouds":4,"visibility":10000,"wind_speed":10.31,"wind_deg":210,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}[...]
